section.hero {
    background: var(--secondary);
}

.make-center {
    text-align: center;
}

.btn-primary {
    background: var(--primary);
}

.btn-primary:hover {
    background: var(--primary-hover);
}