

    <div class="w-64 mb-16">
        <img class="h-40 mb-4 mx-auto" src="../../assets/pizza.png" alt="">
        <div class="text-center">
            <h2 class="mb-4 text-lg">{{menu.name}}</h2>
            <span class="size py-1 px-4 rounded-full uppercase text-xs">{{menu.size}}</span>
            <div class="flex items-center justify-around mt-6">
                <span class="font-bold text-lg">${{menu.prize}}</span>
                <button class="add-to-cart py-1 px-6 rounded-full flex items-center font-bold" (click)="addToCart(menu)">
                    <span>+</span>
                    <span class="ml-4">Add</span>
                </button>
            </div>
        </div>
    </div>
